#container{
    margin: 0px ;
}
#header{
    margin: 0px auto;

}
#header h2{
    padding: 20px 0px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
#header p{
     padding: 5px 0px 5px;
    font-weight: 600;
    font-size: 17px;
    font-family: cursive;
}
#header h6{
     padding: 5px 0px 5px;
    font-weight: 600;
    font-size: 13px;
    
}
#button{
    background-color: rgb(145, 200, 245);
    border: 2px solid black;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    margin: 10px auto 20px;
}
#button:hover{
    background-color: rgb(255, 254, 251);
}
#quote{
    padding: 5px 0px 5px;
    font-weight: 700;
    font-size: 20px;
    font-family: cursive;
    margin: 10px 20px;
}

@media (min-width: 760px){
#container{
    width: 50%;
    margin: 100px auto;  
    border-radius: 20px; 
}
#header h2{
    padding: 30px 0px 10px;
    letter-spacing: 3px;
    font-size: 50px;
}
#header p{  
    font-size: 25px;  
}
#button{
    font-weight: 700;
    font-size: 25px;
    margin: 10px auto 30px;
}
#quote{
    font-size: 30px;
}

}